<style>
    body {
      font-family: Arial, Times New Roman;
      margin: 0;
      padding: 0;
      line-height: 1.6;
      background-color: #C19A6B;
    }
    header {
      background-color: #954535;
      color: white;
      padding: 20px 0;
      text-align: center;
    }
    nav {
      background-color: #6E260E;
      overflow: hidden;
    }
    nav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    nav a:hover {
      background-color: #3cb0fd;
    }
    .container {
      padding: 20px;
    }
    .card {
      background: white;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      display: none; /* Initially hide all sections */
    }
    .card.show {
      display: block; /* Show only the sections with the class "show" */
    }
    footer {
      background: #6E260E;
      color: white;
      text-align: center;
      padding: 10px;
      position: relative;
      bottom: 0;
      width: 100%;
    }
    form input, form textarea {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    form button {
      margin-top: 10px;
      background: #2c3e50;
      color: white;
      padding: 10px 15px;
      border: none;
      cursor: pointer;
    }
  </style>